* {
    box-sizing: border-box;
}
html {
    font-family: 'Outfit', sans-serif;   
}
body {
    min-height: 100vh;
    background-color: hsla(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
    text-align:center;
}
#outer-box  {
    padding: 1rem;
    margin: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    max-width: 20rem;
  }
#QR-code {display: block;
          max-width: 100%;
        border-radius: 20px;}
#outer-box p:first-of-type{
            font-size: 1.375rem;
            line-height: 1.75rem;
            color:hsl(218, 44%, 22%);
            padding-top:0.5rem;
            font-weight: 700;
        }
#outer-box p:last-of-type{
    width: 85%;
    max-width: 288px;
    margin: 0 auto;
    font-size: 0.9375rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding-bottom: 2rem
}
